@use "./theme" as *;
@use "settings" as *;
.page-not-found {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    //lv1
    h1.title {
        margin: 0;
        font-size: $title-xl;
        font-weight: $font-xh;
        margin: 0 auto;
        text-decoration: underline;
    }
    section.content {
        flex: 1;
        display: flex;
        flex-direction: row;
        gap: 0 3rem;
        width: 100%;
        @include breakpoint(lg, max) {
            flex-direction: column-reverse;
            justify-content: center;
        }
    }

    //lv2
    .message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        &--large {
            text-transform: capitalize;
            font-size: $title-lg;
            font-weight: $font-xh;
            margin: 0 0 1rem 0;
        }
        &--medium {
            font-size: $title-md;
            font-weight: $font-h;
            margin: 0 0 2rem 0;
        }
        &--small {
            font-size: $title-sm;
            font-weight: $font-l;
        }
        @include breakpoint(lg, max) {
            width: 100%;
            text-align: center;
        }
    }
    .blob {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        img.profile-picture {
            position: absolute;
            width: 55%;
        }
        svg#blobSvg {
            width: 100%;
            @include themed() {
                fill: t($fill);
            }
        }
        @include breakpoint(lg,min){
            flex: 1;
        }
        @include breakpoint(lg,max){
           width: 60%;
           align-self: center;
        }
    }
    @include breakpoint(lg, min) {
        font-size: 16px;
    }
    @include breakpoint(lg, max) {
        font-size: 8px;
    }
    @include breakpoint(lg, max) {
        padding: 0 3rem;
    }
}
